body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

.row {
  width: 528px;
  height: 176px;
  margin: 0 auto;
  clear: both;
}

.cell {
  width: 160px;
  height: 160px;
  margin: 5px;
  border-radius: 5px;
  background: #ebe6e1;
  border: 3px solid #e0d9d2;
  float: left;

  text-align: center;
  line-height: 160px;
  color: #6c6c6c;
  font-size: 100px;
}

.cell:hover {
  border: 3px solid #ccc0b3;
}
